<h1>App Deployment</h1>

<p>
  <b>Application:</b>
  <%= link_to @application.name, @application %>
</p>

<p>
  <b>Version:</b>
  <%= @app_deployment.version %>
</p>

<p>
  <b>Archive:</b>
  <%= link_to @app_deployment.deployment_file_name, @app_deployment.deployment.url %>
</p>

<p>
  <h3><%= t('environment.environments') %>:</h3>
  <% @application.environments.each do |e| %>
    <%= e.name %>
    <%= link_to t('app_deployments.deploy'), deploy_app_deployment_path(environment: e, force: false), :method => :post, :remote => true %>
    <%= link_to t('app_deployments.update_only'), deploy_app_deployment_path(environment: e, force: true), :method => :post, :remote => true %><br />
  <% end %>
</p>

<p>
<h3><%= t('deployment_logs.deployment_logs') %>:</h3>
<table class="deployment_logs">
  <tr>
    <th>Deployment Date</th>
    <th>Environment</th>
    <th>Successful</th>
    <th>Error Message</th>
  </tr>
  <% @app_deployment.deployment_logs.each do |log| %>
    <%= render log %>
  <% end %>
</table>
</p>

<br />
<br />
<%= link_to t('general.edit'), edit_app_deployment_path(@app_deployment) %> |
<%= link_to t('application.back_to_application'), @application %>
