<h1><%= link_to @environment.application.name, @environment.application%></h1>

<div class="show_form">
  <b><%= t('environment.name') %></b>
  <%= @environment.name %>
  <br />
  <b><%= t('environment.path') %></b>
  <%= @environment.path %>
  <br />
  <b><%= t('general.created_on') %>:</b>
  <%= @environment.created_at.strftime(t('general.timestamp_to_str')) %>
  <br />
  <b><%= t('environment.last_deployment_file') %>:</b>
  <%= link_to @last_deployment_log.app_deployment.version, @last_deployment_log.app_deployment %>
</div>
<br />
<br />

<%= link_to t('general.edit'), edit_environment_path(@environment) %> |
<%= link_to t('application.back_to_application'), @environment.application %>
